* {
    font-family: 'Nunito';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
    padding: min(10px, 2vw, 2vh) 0 min(12px, 2.4vw, 2.4vh);
    z-index: 2;
}

.header h1 {
    font-family: 'Titan One';
    color: white;
    margin: auto min(12px, 3vw, 3vh);
    font-size: min(40px, 8vw, 8vh);
    padding: min(4px, 1vw, 1vh) min(8px, 2vw, 2vh);
    background-color: #ffd700;
    border-radius: min(5px, 1vw, 1vh);
    box-shadow: min(5px, 1vw, 1vh) min(5px, 1vw, 1vh) 0px #ddbc00;
    cursor: pointer;
}

.headerRight {
    display: flex;
    gap: min(20px, 5vw, 5vh);
    margin: 0 min(10px, 3vw, 3vh) 0 0;
}

.headerRight button, .welcome button {
    padding: min(4px, 1vw, 1vh) min(8px, 2vw, 2vh);
    background-color: #ffd700;
    border: min(3px, 0.6vw, 0.6vh) solid #ddbc00;
    font-size: min(25px, 5vw, 5vh);
    font-weight: 800;
    color: white;
    box-shadow: 0 min(5px, 1vw, 1vh) 0 #caac00;
    border-radius: min(10px, 2vw, 2vh);
    transition: all 0.2s;
}

.headerRight button:hover, .welcome button:hover {
    transform: translateY(-2px);
    border: min(3px, 0.6vw, 0.6vh) solid #f3ce00;
    box-shadow: 0 min(7px, 1.4vw, 1.4vh) 0 #edca00;
    background-color: #ffe135;
    cursor: pointer;
}

.headerRight button:active, .welcome button:active {
    transform: translateY(min(5px, 1vw, 1vh));
    border: min(3px, 0.6vw, 0.6vh) solid #f3ce00;
    box-shadow: 0 0 0 #edca00;
    background-color: #ffe135;
    cursor: pointer;
    transition: all 0.05s;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #ffe551;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background::before {
    content: "";
    position: absolute;
    top: -500%;
    left: -500%;
    width: 1000%;
    height: 1000%;
    background: url("./assets/honeyBackground.png") repeat center/cover;
    background-size: 400px;
    opacity: 1;
    z-index: -1;
}

.questionsContainer {
    margin-top: calc(min(12px, 2.4vw, 2.4vh) + min(10px, 2vw, 2vh) + min(40px, 8vw, 8vh));
    height: calc(100% - min(12px, 2.4vw, 2.4vh) - min(10px, 2vw, 2vh) - min(40px, 8vw, 8vh));
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qBorder {
    background-color: #ffbb00;
    width: min(300px, 60vw, 60vh);
    height: min(300px, 60vw, 60vh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: min(10px, 2vw, 2vh);
    box-shadow: min(6px, 1.2vw, 1.2vh) min(6px, 1.2vw, 1.2vh) 0px #f0b000;
}

.qContent {
    background-color: #ffbb00;
    width: min(280px, 56vw, 56vh);
    height: min(280px, 56vw, 56vh);
    display: flex;
    justify-content: center;
    align-items: center;
    border: min(5px, 1vw, 1vh) solid white;
    border-radius: min(10px, 2vw, 2vh);
}

.operation {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: min(20px, 4vw, 4vh);
    justify-content: center;
    align-items: center;
    margin: 0;
}

.operation label {
    margin: 0 auto;
    padding: 0;
}

.operationText {
    color: white;
    font-size: min(35px, 7vw, 7vh);
    margin: 0 auto;
    text-align: center;
}

.qContent input {
    width: min(120px, 24vw, 24vh);
    height: min(40px, 8vw, 8vh);
    border: 0;
    border-radius: min(5px, 1vw, 1vh);
    margin: 0;
    text-align: center;
    font-family: 'Nunito';
    font-size: min(22px, 4.4vw, 4.4vh);
    font-weight: 700;
    color: rgb(70, 70, 70)
}

.qContent input:focus {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit {
    width: min(120px, 24vw, 24vh);
    height: min(40px, 8vw, 8vh);
    border: min(3px, 0.6vw, 0.6vh) solid white;
    border-radius: min(5px, 1vw, 1vh);
    margin: 0;
    text-align: center;
    font-family: 'Nunito';
    font-size: min(20px, 4vw, 4vh);
    color: white;
    background-color: #ffbb00;
    font-weight: 700;
}

.submit:hover {
    color: #ffbb00;
    cursor: pointer;
    background-color: white;
}

.continueGood {
    background-color: rgb(55, 255, 0) !important;
}

.continueGood:hover {
    background-color: white !important;
    color: rgb(55, 255, 0) !important;
}

.continueWrong {
    background-color: rgb(255, 0, 0) !important;
}

.continueWrong:hover {
    background-color: white !important;
    color: rgb(255, 0, 0) !important;
}

.answerData {
    height: min(42px, 8.4vw, 8.4vh);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    margin: max(-5px, -1vw, -1vh) 0 min(5px, 1vw, 1vh);
    gap: min(1px, 0.2vw, 0.2vh);
}

.answerData h2 {
    font-size: min(20px, 4vw, 4vh);
    margin: -1px;
    color: white;
}

.answerData h3 {
    font-size: min(18px, 3.6vw, 3.6vh);
    margin: -1px;
    color: white;
    text-align: left;
}

.honeyToday {
    position: absolute;
    left: 0;
    top: 22px;
    background-color: #ffcc00;
    padding: 5px 7px;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

.honeyToday h1 {
    font-size: 20px;
}

.honeyToday i {
    font-size: 25px;
    transition: all 0.2s;
}

.honeyToday i:hover {
    cursor: pointer;
    color: #fff2bf;
}

.totalHoney {
    position: absolute;
    right: 0;
    top: 22px;
    background-color: #ffcc00;
    padding: 5px;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

.totalHoney h1 {
    font-size: 20px;
}

.totalHoney img {
    width:35px;
    transform: rotate(10deg);
}